.sprite_article_tkb_active_page {background: transparent url('/images/tkb_active_page.png') no-repeat 0 0;}
.sprite_article_tkb_close_new_comment {background: transparent url('/images/tkb_close_new_comment.png') no-repeat 0 0;}
.sprite_article_tkb_double_arr {background: transparent url('/images/tkb_double_arr_white.png') no-repeat 0 0;}
.sprite_article_tkb_inactive_page {background: transparent url('/images/tkb_inactive_page.png') no-repeat 0 0;}
.sprite_article_tkb_keyboard {background: transparent url('/images/tkb_keyboard.png') no-repeat 0 0;}
.sprite_article_tkb_new_comment {background: transparent url('/images/tkb_new_comment.png') no-repeat 0 0;}
.sprite_article_tkb_reply {background: transparent url('/images/tkb_reply.png') no-repeat 0 0;}
.sprite_article_tkb_vote_against_bg {background: transparent url('/images/tkb_vote_against_bg.png') no-repeat 0 0;}
.sprite_article_tkb_vote_against {background: transparent url('/images/tkb_vote_against.png') no-repeat 0 0;}
.sprite_article_tkb_vote_for_bg {background: transparent url('/images/tkb_vote_for_bg.png') no-repeat 0 0;}
.sprite_article_tkb_vote_for {background: transparent url('/images/tkb_vote_for.png') no-repeat 0 0;}
.sprite_article_tkb_zoom {background: transparent url('/images/tkb_zoom.png') no-repeat 0 0;}
.sprite_article_tkb_arrow_next {background: transparent url('/images/tkb_arrow_next.png') no-repeat 0 0;}
.sprite_article_tkb_arrow_prev {background: transparent url('/images/tkb_arrow_prev.png') no-repeat 0 0;}
.sprite_article_tkb_arr_small_left {background: transparent url('/images/tkb_arr_small_left.png') no-repeat 0 0;}
.sprite_article_tkb_arr_small_down {background: transparent url('/images/tkb_arr_small_down.png') no-repeat 0 0;}
.sprite_article_tkb_ynet_logo {background: transparent url('/images/CENTRALDESK_tb_logo.gif') no-repeat 0 0;}
.sprite_article_asb_cell_icon {background: transparent url('/images/asb_cell_icon.png') no-repeat 0 0;}
.sprite_article_asb_comments_icon {background: transparent url('/images/asb_comments_icon.png') no-repeat 0 0;}
.sprite_article_asb_facebook {background: transparent url('/images/asb_facebook.png') no-repeat 0 0;}
.sprite_article_asb_google_plus {background: transparent url('/images/asb_google_plus.png') no-repeat 0 0;}
.sprite_article_asb_lanayad_icon {background: transparent url('/images/asb_lanayad_icon.png') no-repeat 0 0;}
.sprite_article_asb_mail_icon {background: transparent url('/images/asb_mail_icon.png') no-repeat 0 0;}
.sprite_article_asb_print_icon {background: transparent url('/images/asb_print_icon.png') no-repeat 0 0;}
.sprite_article_asb_send_tofriend_icon {background: transparent url('/images/asb_send_tofriend_icon.png') no-repeat 0 0;}
.sprite_article_asb_sep {background: transparent url('/images/asb_sep.png') no-repeat 0 0;}
.sprite_article_asb_tweeter {background: transparent url('/images/asb_tweeter.png') no-repeat 0 0;}
.sprite_article_asb_newsletter {background: transparent url('/images/asb_newsletter.png') no-repeat 0 0;}
.sprite_article_asb_Paper_icon {background: transparent url('/images/asb_Paper_icon.gif') no-repeat 0 0;}
.sprite_article_chapter_blue_triangle {background: transparent url('/images/up_triangle_blue.gif') no-repeat 0 0;}
.sprite_article_article_image_zoom {background: transparent url('/images/article_image_zoom.png') no-repeat 0 0;}